
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #98CB5A;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 36px;
  text-decoration: none;

}

li a:hover {
  background-color: #111;
}
body{
  background-image:url("flowers.jpg"); 
  
}
#aboutUs{
    font-size:20px;
    font-family:"Times New Roman";
    /*background-color: #D6E681;*/
    padding:0px;
    border-radius: 12px;
    width:52%;
    margin-bottom:20px;
  margin-left:45px;
    
 
}
#aboutCd{
    font-size:20px;
    font-family:"Times New Roman";
    /*background-color:#D6E681;*/
    padding:0px;
    border-radius: 12px;
    width:40%;
  margin-left:45px;
    


}
.headers {
text-align:center;
font-size:40px;
padding:0;
border:0;

}
#logo{
 width:70%;
 height:31%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#logo2{
 width:70%;
 height:28%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
#fam{
  width:40%;
  height:40%;
  float:right;
  float:top;
  margin-left:45px;
  border-style: groove;
  margin-top:35px;
}
.h1{
  margin-left:65px;
}

.login {
  text-align:center;
  font-size:20;
  margin:auto;

}
.inline{
  display:inline-block;
    text-align:left;
  font-size:20;
  margin:auto;


}


.buttons{
    background-color:#469c46;
    color: white;
    padding: 15px 92px;
    display: inline-block;
    font-size: 42px;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    margin-left:33%;
    margin-top:1%;
    webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
.buttons1{
    background-color:#ed9b26;
    color: white;
    padding: 15px 92px;
    display: inline-block;
    font-size: 42px;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    margin-left:33%;
    margin-top:1%;
    webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
.buttons2{
      background-color:#cc3f3b;
    color: white;
    padding: 15px 92px;
    display: inline-block;
    font-size: 42px;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    margin-left:33%;
    margin-top:1%;
    width:16%;
      text-align: center;
    webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;

}
.buttons:hover {
      background-color: white; 
    color: black;
        border: 2px solid #469c46;

}
.buttons1:hover {
      background-color: white; 
    color: black;
        border: 2px solid #ed9b26;

}
.buttons2:hover {
      background-color: white; 
    color: black;
        border: 2px solid #cc3f3b;

}
#map{
  width:100%;
  height:50%;
}

.login {
 text-align:center;
 font-size:20;
 margin:auto;

}
.submit {

background-color: #98CB5A;
font-size:30px;
border-radius:12px;
margin-top:2%;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


}
.submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.bor{
    border: 1px solid black;

    border:;
    width:250px;
 text-align:center;
 margin-left:40%;
 padding-top:35px;
 padding-bottom:35px;

}



#data_table {
    border: 1px solid black;
    border-collapse: collapse;
}

.container{
  position:relative;
  width:180px;
  height:240px;
  
  margin-top:4%;
  margin-left:8%;
  border-radius:12px;
  display:inline-block;


}
.card{
  /*position:absolute;*/
  width:180px;
  height:240px;
  
  border-radius:12px;
  border:0;
  margin:0;
  padding:0;


}
.cimg{
  width:180px;
  height:240px;
  border-radius:12px;
}
.front{
  height:100%;
  width:100%;
  border-radius:12px;
}
.back{
  
  background:#fafafa;
  color:black;
  height:100%;
  width:100%;
  border-radius:12px;

}
.head{
  text-align:center;
  font-size:20px;
  padding-top:20px;

}
.other{
    text-align:center;
  font-size:20px;
}
.buton{
    text-decoration: none;
    padding:5px;
    background-color:#7AA095;
    color:white;
  border-radius:12px;
  padding-bottom:4px;
  


}

#data_table {
    border: 1px solid black;
    border-collapse: collapse;
}
#message {
/*width:150px;
height:100px;*/
size:4;
max-width:150;
max-height:100 ;
}

.line1{
  display:inline;
}
.wtt{
  display:inline-block;


}
.zbt{

  margin-top:2%;
  margin-left:1%;
}
.logout1 {
background-color: #98CB5A;
font-size:21px;
border-radius:12px;
margin-top:22%;
margin-left:95%;
/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/




}