
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A5B07;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 36px;
  text-decoration: none;

}

li a:hover {
  background-color: #111;
}
body{
  /*background-color:#21910A*/
}
.home{
    font-size:23px;
    font-family:"Times New Roman";
    /*background-color: #0A5B07;*/
    padding:20px;
    /*border-radius: 12px;*/

  
}
.headers {
text-align:center;
font-size:40px;

}
#logo{
 width:50%;
 height:35%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}