{% extends "base.html" %}

{% block content %}

<h1>-About Code For Palestine</h1>
<img id="fam" src="{{ url_for('static', filename='images/codefamily.jpg') }}">

<pre id = "aboutCd">
	Code For Palestine is a project that is implemented 
by the PalTel Group Foundation in cooperation with 
Jawwal. It aims to teach students in the fields of 
technology and design thinking, where they will be 
given access to the world Closs Skills of high tech,
coding, business and leadership skills.</pre>
<h1>-About US</h1>
<pre id = "aboutUs">
	This website was created by two students from Code For Palestine 
who noticed that the students in this program don't know much about 
each other so the website aims to let the students in this program
to have a better chance of knowing more about each other. 

	Students, instructors and staff can create profiles and
inspect other's. They will know more about their hobbies 
and the website will give them a way to contact with them
on Slack, Facebook and other websites.

</pre>

{% endblock %}