<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<title>Login We Code </title>
</head>
<body>
<img id="logo" src="{{ url_for('static', filename='images/we_code.png') }}"> 
<h2 class="headers"> Login </h2>

<h1 class="headers">Login</h1>
<form action="/signin" method="POST">
	<b class="login">UserName:</b> <br>
	<input type="text" name="userName"><br>
	<b class="login">Password:</b><br>
	<input type="password" name="password"><br>
	<input type="submit" value="submit">
</form>
<p class="login"> New User? please register here </p>
<a href="/register"> <button>Register</button></a>

</body>
</html>