<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<title>Register We Code </title>
</head>
<body>
<img id="logo2" src="{{ url_for('static', filename='images/we_code.png') }}"> 
	<h1 class = "headers">Register here </h1>
{% if error %}
	<p>{{error}}</p>
{% endif %}		
<!-- <h1 class="headers">Register</h1> -->
<div class="bor">

<form class="login" action="/newAccount" method="POST">
	<b>New User:</b> <br>
	<input type="text" name="userName" required><br>
	<br>
	<b>Password:</b><br>
	<input type="password" name="password" required><br>
	<br>
	<input class = "submit" type="submit" value="Register">
</form>
</div>
<br>
<a href="/"> <button class = "submit">Cancel</button></a>


</body>
</html>
