{% extends "base.html" %}
{% block content %}


<div class="container">
	<div class="card">
		<div class="front"><img class = "cimg" src="{{ url_for('static', filename='images/teama.jpg') }}"></div>
		<div class="back"><h1 class ="head" style = "margin-top=3%">Teama Amer

			<p class= "other">
				singing <br>
				

			<pre class= "other">
.......
25/4/2003
.......
 singing 
.......</pre>
			<a class="buton" href = "https://www.facebook.com/profile.php?id=100010450238237">contact</a>


		</h1></div>
	</div>
</div>
<div class="container">
	<div class="card">
		<div class="front"><img class = "cimg" src="{{ url_for('static', filename='images/durra.jpg') }}"></div>
		<div class="back"><h1 class ="head" style = "margin-top=3%">Ahmad Durra
			<pre class= "other">
.......
5/6/2002
.......
 Math
.......</pre>
			<a class="buton" href = "https://www.facebook.com/amdurra">contact</a>

		</h1></div>
	</div>
	
</div>
<div class="container">
	<div class="card">
		<div class="front"><img class = "cimg" src="{{ url_for('static', filename='images/subhi.jpg') }}"></div>
		<div class="back"><h1 class ="head" style = "margin-top=3%">Subhi Awwad
			<pre class= "other">
.......
27/1/2002
.......
 Sleeping
.......</pre>
			<a class="buton" href = "https://www.facebook.com/Subhi.Awwad1">contact</a>

		</h1></div>
	</div>
	
</div>

<div class="container">
	<div class="card">
		<div class="front"><img class = "cimg" src="{{ url_for('static', filename='images/ahmad.jpg') }}"></div>
		<div class="back"><h1 class ="head" style = "margin-top=3%">Ahmad Dumaidi
			<pre class= "other">
.......
11/5/2002
.......
 Football
.......</pre>
			<a class="buton" href = "https://www.facebook.com/ahmad.dumaidi">contact</a>

		</h1></div>
	</div>
	
</div><br>
<div class="container">
	<div class="card">
		<div class="front"><img class = "cimg" src="{{ url_for('static', filename='images/maya.jpg') }}"></div>
		<div class="back"><h1 class ="head" style = "margin-top=3%">Maya Sheeb
			<pre class= "other">
.......
13/11/2002
.......
 Gymnastics
.......</pre>
			<a class="buton" href = "https://www.facebook.com/maya.sheeb">contact</a>

		</h1></div>
	</div>
	
</div>
<div class="container">
	<div class="card">
		<div class="front"><img class = "cimg" src="{{ url_for('static', filename='images/ghada.jpg') }}"></div>
		<div class="back"><h1 class ="head" style = "margin-top=3%">Ghada Issa
			<pre class= "other">
.......
6/11/2002
.......
 Running
.......</pre>
			<a class="buton" href = "https://www.facebook.com/ghada.issa.754">contact</a>

		</h1></div>
	</div>
	
</div>
<div class="container">
	<div class="card">
		<div class="front"><img class = "cimg" src="{{ url_for('static', filename='images/ilham.jpg') }}"></div>
		<div class="back"><h1 class ="head" style = "margin-top=3%">Ilham Saedee
			<pre class= "other">
.......
8/4/2002
.......
 Coding
.......</pre>
			<a class="buton" href = "https://www.facebook.com/lulu.saidy.1">contact</a>

		</h1></div>
	</div>
	
</div>
<div class="container">
	<div class="card">
		<div class="front"><img class = "cimg" src="{{ url_for('static', filename='images/maysam.jpg') }}"></div>
		<div class="back"><h1 class ="head" style = "margin-top=3%">Maysam Alaa
			<pre class= "other">
.......
6/8/2002
.......
 Singing
.......</pre>
			<a class="buton" href = "https://www.facebook.com/maisam.alaa.16">contact</a>

		</h1></div>
	</div>
	
</div><br>
<div class="container">
	<div class="card">
		<div class="front"><img class = "cimg" src="{{ url_for('static', filename='images/mayar.jpg') }}"></div>
		<div class="back"><h1 class ="head" style = "margin-top=3%">Mayar Shanan
			<pre class= "other">
.......
19/10/2002
.......
 Sleeping
.......</pre>
			<a class="buton" href = "https://www.facebook.com/mayar.shnan">contact</a>

		</h1></div>
	</div>
	
</div>



<script type="text/javascript">



      $(function(){
        
        $(".card").flip({
          trigger: 'hover'
        });
      });
    
</script>

{% endblock %}
